{{ partial:layout/section class="bg-sage text-white" }}
  {{ partial:layout/inner }}
    {{ partial:components/headings/h1 title="Ausbau" class="text-white" }}
    {{ partial:layout/grid }}
      {{ partial:layout/span }}
      
      {{ partial:components/headings/h3 title="Bodenbeläge" class="text-white" }}
      <p>Boden in Wohn- und Schlafzimmer, sowie Korridor mit Riemenparkett (Prontopark) Eiche, matt versiegelt, parallel verlegt<br>Nasszellen (Küchen und Waschküche UG): Keramische Bodenplatten, unglasiert, Auriga Classic – (grau), matt</p>

      {{ partial:components/headings/h3 title="Wandbeläge und Decken" class="text-white" }}
      <p>Wohn- und Schlafzimmer, sowie Korridor Wände: Abrieb, weiss gestrichen<br>Wohn- und Schlafzimmer, sowie Korridor Decke: Weissputz, weiss gestrichen</p>
      
      {{ partial:components/headings/h3 title="Küche" class="text-white" }}
      <p>Rückwand: Keramische Platten glasiert, HGC Bremen Classic – (weiss)<br>Decke: Weissputz, weiss gestrichen<br>Einbauten: Kunstharzfronten antitouch /seidenmatt Black Green matt<br>Arbeitsplatte: Quarzkomposit, Diresco (Divinity Crema)<br>Geräte: Glaskeramik, Dunstabzug (Flachschirmhaube), Geschirrspüler und Kühl-/ Gefriergerät Marke Siemens</p>
      
      {{ partial:components/headings/h3 title="Badezimmer" class="text-white" }}
      <p>Bodenbeläge: Keramische Bodenplatten, unglasiert, Auriga Classic – (grau), matt<br>Wände: Keramische Platten, glasiert, HGC Bremen Classic (weiss)<br>Decke: Weissputz, weiss gestrichen<br>Sanitärapparate: Keramik weiss, Spiegelschrank mit LED<br>Duschwanne mit Vorhangstangen</p>
      
      {{ partial:components/headings/h3 title="Aussenfläche" class="text-white" }}
      <p>Boden Sitzplatz: Feinsteinzeugplatten, HGC Bernini grigio<br>Boden Balkon: Zementüberzug, gestrichen<br>Balkongeländer: Metallkonstruktion, pulverbeschichtet (seidenmatt)<br>Trennwände Attika: Rahmenkonstruktion aus Metall mit Eternitplatte (black velevet)<br>Wasseranschluss nur auf den Terrassen</p>
      
      {{ partial:components/headings/h3 title="Fenster" class="text-white" }}
      <p>Holz/Metall-Fenster: 3-fach verglast, innen holzfarbe wässrig (weiss), aussen mit pulverbeschichtet (weiss)<br>Vorhangbrett: zwei Vorhangschienen</p>
      
      {{ partial:components/headings/h3 title="Storen und Sonnenschutz" class="text-white" }}
      <p>Fenster: Lamellenstoren (Grauton)<br>Balkone: Gelenkarmmarkisen ohne Volant (GELB), Handkurbel</p>
      
      {{ partial:components/headings/h3 title="Elektroanlagen" class="text-white" }}
      <p>Sonnerie: Gegensprechanlage<br>Küche und Korridor: LED-Einbauspots<br>Glasfaser: in jeder Wohnung, Mieter wählt selbständig zwischen den Anbietern und schliesst ein Abonnement ab<br>Internetangebot: Swisscom und Sunrise (UPC, Cablecom)<br>Mehrere 3-fach Steckdosen und Schalter in den Räumen<br>Aussenfläche: Steckdose</p>
      
      {{ partial:components/headings/h3 title="Heizungs- und Lüftungsanlagen" class="text-white" }}
      <p>Beheizung mittels Heizkörper, Fernwärme<br>Minergie Standard inkl. Kontrollierter Wohnungslüftung. Die Abluft (Küche und Nasszellen) erfolgt über Dach.</p>
      
      {{ partial:components/headings/h3 title="Liftanlagen" class="text-white" }}
      <p>Pro Haus ein Personenaufzug für max. 5 Personen</p>

      {{ partial:components/headings/h3 title="Keller" class="text-white" }}
      <p>Pro Wohnung ein Kellerabteil, beleuchtet und mit Steckdose auf Wohnungszähler, Schliessung mit Zylinder auf Wohnungsschliessung</p>

      {{ partial:components/headings/h3 title="Waschküche und Trocknungsraum" class="text-white" }}
      <p>Die Waschküche befindet sich im UG und verfügt über Waschmaschine, Trockner, Raumlufttrockner, Waschtrog und Wäscheleine</p>
      
      {{ partial:components/headings/h3 title="Veloabstellplätze" class="text-white" }}
      <p>Veloraum im Haus 3</p>

      {{ partial:components/headings/h3 title="Parking" class="text-white" }}
      <p>26 Einstellhallenplätze </p>

      {{ partial:components/headings/h3 title="Umgebung" class="text-white" }}
      <p>Begrünte Aussenanlage im Innenhof</p>

      <div class="mt-15 lg:mt-30 flex space-x-15 lg:space-x-25">
        <div>
          <a 
            href="/assets/downloads/rheinfelderstrasse-basel-kurzbaubeschrieb.pdf" 
            target="_blank" 
            title="Kurzbaubeschrieb"
            class="bg-moss text-white px-15 py-10 lg:px-16 lg:py-12 rounded-sm uppercase font-lato-black font-black tracking-wider flex items-center w-full justify-center hover:brightness-110 hover:text-pearl transition-all">
            <span class="block leading-none">Kurzbaubeschrieb</span>
          </a>
        </div>
        <div>
          <a 
            href="/assets/downloads/rheinfelderstrasse-basel-facts-figures.pdf" 
            target="_blank" 
            title="Facts & Figures"
            class="bg-moss text-white px-15 py-10 lg:px-16 lg:py-12 rounded-sm uppercase font-lato-black font-black tracking-wider flex items-center w-full justify-center hover:brightness-110 hover:text-pearl transition-all">
            <span class="block leading-none">Facts & Figures</span>
          </a>
        </div>
      </div>
      {{ /partial:layout/span }}

      {{ partial:layout/span }}
        {{ partial:components/media/image image="rheinfelderstrasse-basel.ch-2" alt="" wrapperClass="mb-20 lg:mb-40" }}
        {{ partial:components/media/image image="rheinfelderstrasse-basel.ch-1" alt="" wrapperClass="mb-20 lg:mb-40" }}
        {{ partial:components/media/image image="rheinfelderstrasse-basel.ch-3" alt="" wrapperClass="mb-20 lg:mb-40" }}
      {{ /partial:layout/span }}

    {{ /partial:layout/grid }}
  {{ /partial:layout/inner }}
{{ /partial:layout/section }}