{{ partial:layout/section class="bg-sage text-white" }}
  {{ partial:layout/inner }}
    {{ partial:components/headings/h1 title="Galerie" class="text-white" }}
    {{ partial:layout/grid class="sm:gap-16 lg:!gap-20" }}
      {{ loop from="1" to="26" }}
        <a href="/assets/rheinfelderstrasse-basel.ch-galerie-{{ value }}.jpg" class="block mb-15 sm:mb-0 sm:col-span-4 lg:col-span-3" data-fancybox>
          <img src="/assets/rheinfelderstrasse-basel.ch-galerie-{{ value }}-thumb.jpg" alt="" class="w-full h-auto block">
        </a>
      {{ /loop }}
    {{ /partial:layout/grid }}
  {{ /partial:layout/inner }}
{{ /partial:layout/section }}