{{ partial:layout/section }}
  {{ partial:components/swiper/wrapper }}
    {{ partial:components/swiper/slide image="rheinfelderstrasse-basel.ch-3" alt="" }}
    {{ partial:components/swiper/slide image="rheinfelderstrasse-basel.ch-1" alt="" }}
    {{ partial:components/swiper/slide image="rheinfelderstrasse-basel.ch-2" alt="" }}
  {{ /partial:components/swiper/wrapper }}
{{ /partial:layout/section }}

{{ partial:layout/section }}
{{ partial:layout/inner }}
  {{ partial:components/headings/h1 title="Wohnen im beliebten Wettsteinquartier" }}
  <div class="max-w-2xl">
    <p>Die Überbauung Rheinfelderstrasse bietet frisch sanierte 1.0- bis 4.5-Zimmer-Wohnungen an zentraler Lage im Wettsteinquartier, Kleinbasel, an. Die Wohnungen sind auf zwei Häuser verteilt, die hochwertige Materialien sowie vielfältige Grundrissvarianten bieten. Zusätzlich verfügt die Wohnanlage über private Aussenbereiche für die Bewohner sowie Einstellhallenplätze zur Anmietung.</p>
    <p>Das Wettsteinquartier ist ein beliebtes Wohnviertel, dass sich durch seine zentrale Lage und gute Infrastruktur auszeichnet. Das Gebäude befindet sich in unmittelbarer Nähe des Rheinufers und bietet somit eine ideale Mischung aus städtischem Leben und naturnaher Erholung. Es gibt zahlreiche Geschäfte, Restaurants und Cafés in der Umgebung, so dass man alle täglichen Besorgungen bequem zu Fuss erledigen kann. Die Anbindung an den öffentlichen Nahverkehr ist ebenfalls sehr gut, so dass man schnell in die Innenstadt oder in andere Stadtteile gelangen kann.</p>
  </div>
  <div class="mt-15 lg:mt-30 flex space-x-15 lg:space-x-25">
    <div>
      <a 
        href="/angebot" 
        title="Angebot anzeigen"
        class="bg-sage text-white px-15 py-10 lg:px-16 lg:py-12 rounded-sm uppercase font-lato-black font-black tracking-wider flex items-center w-full justify-center hover:brightness-110 hover:bg-moss transition-all">
        <span class="block leading-none">Angebot</span>
      </a>
    </div>
  </div>
{{ /partial:layout/inner }}
{{ /partial:layout/section }}