{{ partial:layout/section }}
  {{ partial:components/media/visual image="rheinfelderstrasse-basel.ch-lage-1" alt="" }}
{{ /partial:layout/section }}

{{ partial:layout/section }}
  {{ partial:layout/inner }}
    {{ partial:components/headings/h1 title="Lage" }}
    {{ partial:layout/grid }}
      {{ partial:layout/span }}
      <p>Das Wettsteinquartier bietet nebst der hohen Wohnqualität eine Vielzahl von Einkaufsmöglichkeiten, gastronomischen Angeboten, Sporteinrichtungen und Schulen in unmittelbarer Nähe, was Ihnen zusätzlichen Komfort und kurze Wege für alle Bedürfnisse bietet.</p>
      <p>Die Überbauung befindet sich zentral gelegen, unmittelbar am Basler Rheinufer. Ein Spaziergang entlang des Rheinufers oder ein gemütliches Picknick am Wasser sind nur einige der vielen Möglichkeiten, die hier geboten werden. Die unmittelbare Nähe zur Natur macht diesen Ort zu einem idealen Rückzugsort, um dem stressigen Alltag zu entfliehen und sich zu entspannen.</p>
      <p>Der öffentliche Verkehr ist nur einen Katzensprung von der Haustür entfernt und bringt Sie in wenigen Minuten zu beliebten Hotspots in Basel. Die Innenstadt von Basel ist ebenfalls bequem in wenigen Fahrminuten erreichbar. Durch die unmittelbare Nähe zur Autobahn ist die Lage des Standorts auch für Automobilisten äusserst attraktiv. Die schnelle und bequeme Anbindung an das Autobahnnetz ermöglicht eine zeitsparende Anreise und eine reibungslose Anbindung an die umliegenden Städte und Regionen.</p>
      <div class="mt-15 lg:mt-30 flex space-x-15 lg:space-x-25">
          <div>
            <a 
              href="https://maps.app.goo.gl/AxwXTem36EWZAEU39" 
              target="_blank" 
              title="Google Maps"
              class="bg-sage text-white px-15 py-10 lg:px-16 lg:py-12 rounded-sm uppercase font-lato-black font-black tracking-wider flex items-center w-full justify-center hover:bg-moss transition-all">
              <span class="block leading-none">Google Maps</span>
            </a>
          </div>
        </div>
      {{ /partial:layout/span }}

      {{ partial:layout/span }}
        {{ partial:components/media/image image="rheinfelderstrasse-basel.ch-lage-2" alt="" }}
      {{ /partial:layout/span }}

    {{ /partial:layout/grid }}
  {{ /partial:layout/inner }}
{{ /partial:layout/section }}