{{ partial:layout/section }}
  {{ partial:components/media/visual image="rheinfelderstrasse-basel.ch-3" alt="" }}
{{ /partial:layout/section }}

{{ partial:layout/section class="bg-moss text-white" }}
  {{ partial:layout/inner }}
    {{ partial:components/headings/h1 title="Projekt" class="text-white" }}
    {{ partial:layout/grid }}
      {{ partial:layout/span }}
        <p>Mit dem Projekt Rheinfelderstrasse geniessen Sie frisch sanierten Wohnraum an einer erstklassigen Lage! Ab dem 1. Dezember 2024 stehen Ihnen 1.0- bis 4.5-Zimmer-Wohnungen zur Verfügung, die nicht nur modernisiert, sondern auch stilvoll ausgestattet sind. Zusätzlich stehen den Mietern 26 Einstellplätze zur Anmietung zur Verfügung, was zusätzlichen Komfort und Flexibilität bietet.</p>
        <p>Gönnen Sie sich den Luxus, in einem frisch renovierten Zuhause direkt im Herzen der Stadt zu leben. Die Wohnungen sind mit einer Komfortlüftung ausgestattet, die Ihnen stets ein angenehmes Raumklima bietet. Hochwertige Materialien sorgen für zeitgemässes und komfortables Wohnen, das Ihnen hilft, vom Alltag abzuschalten. Die Balkone sind zum Innenhof ausgerichtet und bieten einen wunderschönen Blick auf die üppige Begrünung, die zum Verweilen einlädt.</p>
        <p>Das Gebäude wurde für seine energetische Effizienz und nachhaltige Bauweise mit dem begehrten Minergie-Zertifikat ausgezeichnet. Dieses Zertifikat verleiht dem Gebäude nicht nur eine zusätzliche Wertsteigerung, sondern trägt auch aktiv zum Umweltschutz bei.</p>
        <p>Dank der zentralen Lage im lebendigen und pulsierenden Wettsteinquartier profitieren die Bewohner von kurzen Wegen in der Stadt Basel. Eine hervorragende Infrastruktur sowie ausgezeichnete Anbindungen an den öffentlichen Verkehr sind gegeben, wobei der Bahnhof Basel mit dem Tram nur zehn Minuten entfernt ist.</p>
      {{ /partial:layout/span }}

      {{ partial:layout/span }}
        {{ partial:components/media/image image="rheinfelderstrasse-basel.ch-2" alt="" wrapperClass="mb-20 lg:mb-40" }}
        {{ partial:components/media/image image="rheinfelderstrasse-basel.ch-1" alt="" wrapperClass="mb-20 lg:mb-40" }}
      {{ /partial:layout/span }}

    {{ /partial:layout/grid }}
  {{ /partial:layout/inner }}
{{ /partial:layout/section }}