.iso-cls-1 {
  fill: #91a085;
}

.iso-cls-1, .iso-cls-2, .iso-cls-3 {
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: .2px;
}

.iso-cls-2 {
  fill: #e9ece7;
}

.iso-cls-3 {
  fill: #b4b4b4;
}

/* State classes */
.is-active.is-available [class^="iso-cls-"],
.is-active.is-available[class^="iso-cls-"] {
  @apply fill-sage
}

.is-active.is-taken [class^="iso-cls-"],
.is-active.is-taken[class^="iso-cls-"] {
  fill: #C04145;
}

[data-iso]:hover {
  @apply cursor-pointer;
}

[data-object].is-active {
  @apply !bg-sage !bg-opacity-20;
}

/* Floor classes */
[data-iso-floor] {
  @apply transition-transform duration-300;
}
.is-up {
  @apply transform -translate-y-[32%] transition-transform duration-300;
}

.is-down {
  @apply transform translate-y-[32%] transition-transform duration-300;
}

.no-transform {
  @apply !transform-none;
}